.slides {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.reveal.ready .slides {
  opacity: 1;
}

.reveal .padded {
  display: inline-block;
  padding: 1rem;
}
.reveal .padded img {
  border: none;
  margin: 0;
}

.reveal .slides > section,
.reveal .slides > section > section {
  transform-style: preserve-3d;
  perspective: 1000px;
}

/* Custom animation */
@keyframes skidLeft {
  from {
    transform: translate3d(-20%, 0, 0) skewX(0deg);
    opacity: 0;
  }
  50% {
    transform: translate3d(2%, 0, 0) skewX(-10deg);
    opacity: 1;
  }
  75% {
    transform: translate3d(-1%, 0, 0) skewX(10deg);
  }
  to {
    transform: translate3d(0, 0, 0) skewX(0deg);
  }
}

@keyframes skidLeftBig {
  from {
    transform: translate3d(-100%, 0, 0) skewX(0deg);
    opacity: 0;
  }
  50% {
    transform: translate3d(2%, 0, 0) skewX(-10deg);
    opacity: 1;
  }
  75% {
    transform: translate3d(-1%, 0, 0) skewX(10deg);
  }
  to {
    transform: translate3d(0, 0, 0) skewX(0deg);
  }
}

@keyframes skidRight {
  from {
    transform: translate3d(20%, 0, 0) skewX(0deg);
    opacity: 0;
  }
  50% {
    transform: translate3d(-2%, 0, 0) skewX(10deg);
    opacity: 1;
  }
  75% {
    transform: translate3d(1%, 0, 0) skewX(-10deg);
  }
  to {
    transform: translate3d(0, 0, 0) skewX(0deg);
  }
}

@keyframes skidRightBig {
  from {
    transform: translate3d(100%, 0, 0) skewX(0deg);
    opacity: 0;
  }
  50% {
    transform: translate3d(-2%, 0, 0) skewX(10deg);
    opacity: 1;
  }
  75% {
    transform: translate3d(1%, 0, 0) skewX(-10deg);
  }
  to {
    transform: translate3d(0, 0, 0) skewX(0deg);
  }
}

@keyframes shrinkIn {
  from {
    transform: scale3d(1.3, 1.3, 1.3);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes shrinkInBlur {
  from {
    transform: scale3d(1.3, 1.3, 1.3);
    opacity: 0;
    filter: blur(5px);
  }
  75% {
    opacity: 1;
    -webkit-filter: blur(0px);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

.animated.in.bounce {
  animation-name: bounce;
  transform-origin: center bottom;
}

.animated.in.flash {
  animation-name: flash;
}

.animated.in.pulse {
  animation-name: pulse;
}

.animated.in.rubberBand {
  animation-name: rubberBand;
}

.animated.in.shake {
  animation-name: shake;
}

.animated.in.headShake {
  animation-timing-function: ease-in-out;
  animation-name: headShake;
}

.animated.in.swing {
  transform-origin: top center;
  animation-name: swing;
}

.animated.in.tada {
  animation-name: tada;
}

.animated.in.wobble {
  animation-name: wobble;
}

.animated.in.jello {
  animation-name: jello;
  transform-origin: center;
}

.animated.in.heartBeat {
  animation-name: heartBeat;
  animation-duration: 1.3s;
  animation-timing-function: ease-in-out;
}

.animated.in.bounceIn {
  animation-duration: 0.75s;
  animation-name: bounceIn;
}

.animated.in.bounceInDown {
  animation-name: bounceInDown;
}

.animated.in.bounceInLeft {
  animation-name: bounceInLeft;
}

.animated.in.bounceInRight {
  animation-name: bounceInRight;
}

.animated.in.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

.animated.in.bounceOut {
  animation-duration: 0.75s;
  animation-name: bounceOut;
}

.animated.in.bounceOutDown {
  animation-name: bounceOutDown;
}

.animated.in.bounceOutLeft {
  animation-name: bounceOutLeft;
}

.animated.in.bounceOutRight {
  animation-name: bounceOutRight;
}

.animated.in.bounceOutUp {
  animation-name: bounceOutUp;
}

.animated.in.fadeIn {
  animation-name: fadeIn;
}

.animated.in.fadeInDown {
  animation-name: fadeInDown;
}

.animated.in.fadeInDownBig {
  animation-name: fadeInDownBig;
}

.animated.in.fadeInLeft {
  animation-name: fadeInLeft;
}

.animated.in.fadeInLeftBig {
  animation-name: fadeInLeftBig;
}

.animated.in.fadeInRight {
  animation-name: fadeInRight;
}

.animated.in.fadeInRightBig {
  animation-name: fadeInRightBig;
}

.animated.in.fadeInUp {
  animation-name: fadeInUp;
}

.animated.in.fadeInUpBig {
  animation-name: fadeInUpBig;
}

.animated.in.fadeOut {
  animation-name: fadeOut;
}

.animated.in.fadeOutDown {
  animation-name: fadeOutDown;
}

.animated.in.fadeOutDownBig {
  animation-name: fadeOutDownBig;
}

.animated.in.fadeOutLeft {
  animation-name: fadeOutLeft;
}

.animated.in.fadeOutLeftBig {
  animation-name: fadeOutLeftBig;
}

.animated.in.fadeOutRight {
  animation-name: fadeOutRight;
}

.animated.in.fadeOutRightBig {
  animation-name: fadeOutRightBig;
}

.animated.in.fadeOutUp {
  animation-name: fadeOutUp;
}

.animated.in.fadeOutUpBig {
  animation-name: fadeOutUpBig;
}

.animated.in.animated.flip {
  backface-visibility: visible;
  animation-name: flip;
}

.animated.in.flipInX {
  backface-visibility: visible !important;
  animation-name: flipInX;
}

.animated.in.flipInY {
  backface-visibility: visible !important;
  animation-name: flipInY;
}

.animated.in.flipOutX {
  animation-duration: 0.75s;
  animation-name: flipOutX;
  backface-visibility: visible !important;
}

.animated.in.flipOutY {
  animation-duration: 0.75s;
  backface-visibility: visible !important;
  animation-name: flipOutY;
}

.animated.in.lightSpeedIn {
  animation-name: lightSpeedIn;
  animation-timing-function: ease-out;
}

.animated.in.lightSpeedOut {
  animation-name: lightSpeedOut;
  animation-timing-function: ease-in;
}

.animated.in.rotateIn {
  animation-name: rotateIn;
}

.animated.in.rotateInDownLeft {
  animation-name: rotateInDownLeft;
}

.animated.in.rotateInDownRight {
  animation-name: rotateInDownRight;
}

.animated.in.rotateInUpLeft {
  animation-name: rotateInUpLeft;
}

.animated.in.rotateOut {
  animation-name: rotateOut;
}

.animated.in.rotateOutDownLeft {
  animation-name: rotateOutDownLeft;
}

.animated.in.rotateOutDownRight {
  animation-name: rotateOutDownRight;
}

.animated.in.rotateOutUpLeft {
  animation-name: rotateOutUpLeft;
}

.animated.in.rotateOutUpRight {
  animation-name: rotateOutUpRight;
}

.animated.in.hinge {
  animation-duration: 2s;
  animation-name: hinge;
}

.animated.in.jackInTheBox {
  animation-name: jackInTheBox;
}

.animated.in.rollIn {
  animation-name: rollIn;
}

.animated.in.rollOut {
  animation-name: rollOut;
}

.animated.in.zoomIn {
  animation-name: zoomIn;
}

.animated.in.zoomInDown {
  animation-name: zoomInDown;
}

.animated.in.zoomInLeft {
  animation-name: zoomInLeft;
}

.animated.in.zoomInRight {
  animation-name: zoomInRight;
}

.animated.in.zoomInUp {
  animation-name: zoomInUp;
}

.animated.in.zoomOut {
  animation-name: zoomOut;
}

.animated.in.zoomOutDown {
  animation-name: zoomOutDown;
}

.animated.in.zoomOutLeft {
  animation-name: zoomOutLeft;
}

.animated.in.zoomOutRight {
  animation-name: zoomOutRight;
}

.animated.in.zoomOutUp {
  animation-name: zoomOutUp;
}

.animated.in.slideInDown {
  animation-name: slideInDown;
}

.animated.in.slideInLeft {
  animation-name: slideInLeft;
}

.animated.in.slideInRight {
  animation-name: slideInRight;
}

.animated.in.slideInUp {
  animation-name: slideInUp;
}

.animated.in.slideOutDown {
  animation-name: slideOutDown;
}

.animated.in.slideOutLeft {
  animation-name: slideOutLeft;
}

.animated.in.slideOutRight {
  animation-name: slideOutRight;
}

.animated.in.slideOutUp {
  animation-name: slideOutUp;
}

.animated.in.skidRight {
  animation-name: skidRight;
}

.animated.in.skidRightBig {
  animation-name: skidRightBig;
}

.animated.in.skidLeft {
  animation-name: skidLeft;
}

.animated.in.skidLeftBig {
  animation-name: skidLeftBig;
}

.animated.in.shrinkIn {
  animation-name: shrinkIn;
}

.animated.in.shrinkInBlur {
  animation-name: shrinkInBlur;
}

.animated.in.fast {
  animation-duration: 800ms;
}

.animated.in.faster {
  animation-duration: 500ms;
}

.animated.in.slow {
  animation-duration: 2s;
}

.animated.in.slower {
  animation-duration: 3s;
}

/* Animate.css overrides */
.animated {
  visibility: hidden;
  transition: visibility 0.5s ease;
  animation: none;
}
i.animated,
span.animated {
  display: inline-block;
}
.animated.in {
  visibility: visible;
  animation-duration: 1s;
}

.pulsate {
  -webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
  animation: pulsate-fwd 0.5s ease-in-out infinite both;
}
@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.btn_nextMC1 {
  position: absolute;
  left: 1669px;
  top: 52px;
  cursor: pointer;
}
.btn_backMC1 {
  position: absolute;
  left: 1464px;
  top: 52px;
  cursor: pointer;
}
.btn_nextMC2 {
  position: absolute;
  left: 337px;
  top: 728px;
  cursor: pointer;
}
.btn_backMC2 {
  position: absolute;
  left: 132px;
  top: 728px;
  cursor: pointer;
}
